
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Groups</h2>
    @ViewBag.Message
</div>

<div>
    @Html.ActionLink("Create New Group", "Create.cshtml", "Groups")
</div>
