@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <!-- Page Content -->
    <div id="content">
      <div class="jumbotron">
            <h1>Grouping System</h1>
            <p class="lead">Info about app</p>
        </div>

    </div>




